<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Symptoms Tab -->
    <ion-tab title="Symptoms" icon-off="ion-sad-outline" icon-on="ion-sad" href="#/tab/symptoms">
        <ion-nav-view name="tab-symptoms"></ion-nav-view>
    </ion-tab>

    <!-- Facts Tab -->
    <ion-tab title="Facts" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/facts">
        <ion-nav-view name="tab-facts"></ion-nav-view>
    </ion-tab>

    <!-- Health Tab -->
    <ion-tab title="Analysis" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/analysis">
        <ion-nav-view name="tab-analysis"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
        <ion-nav-view name="tab-settings"></ion-nav-view>
    </ion-tab>

</ion-tabs>
