<ion-modal-view ng-controller="AddSymptomCtrl">
    <ion-header-bar>
        <h1 class="title">Add a Symptom</h1>
    </ion-header-bar>
    <ion-content>
        <p class="rating-question">How do you feel?</p>
        <div class="ratings">
            <div class="row">
                <div class="col" id="rate-{{rating.val}}"
                ng-repeat="rating in ratings"
                ng-class="{'selected-rating': rating.val === model.rating}"
                ng-click="selectRating(rating)">
                {{rating.emoji}}<br/>{{rating.val}}
            </div>
        </div>
        <label class="item item-input item-floating-label">
            <span class="input-label">Comments:</span>
            <textarea
                id="comments"
                type="text"
                placeholder="Comments"/>
        </label>
        <div class="actions">
            <button id="save" ng-click="save()" class="button button-block button-positive">
                Save
            </button>
            <button id="cancel" ng-click="cancel()" class="button button-block button-assertive">
                Cancel
            </button>
        </div>
    </ion-content>
</ion-modal-view>
