.symptom-icon {
    position: absolute;
    left: 16px;
    font-size: 40px;
    line-height: 1.2;
}

ion-modal-view > ion-content {
    padding: 5px;
}

div.actions {
    margin-top: 35px;
}

div.actions > button.button-block {
    margin-top: 20px;
}
